<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>World's Hardest Game</string>
    <key>CFBundleExecutable</key>
    <string>WorldsHardestGame</string>
    <key>CFBundleIdentifier</key>
    <string>com.casey.worldshardestgame</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
